{% use '@EcoheadTailwindFormTheme/helpers.html.twig' %}

{%- block date_row -%}
    <div{%- with { attr: row_attr } -%}{{ block('attributes') }}{%- endwith -%}>
        {%- with { attr: label_attr } -%}
            {{ block('form_label') }}
        {%- endwith -%}
        <div class="mt-1 relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <twig:icon name="calendar" className="w-4 h-4 text-gray-500 dark:text-gray-400" :outline="true"/>
            </div>
            <input
                    x-data="datePicker({ date: true })"
                    type="text"
                    {% if value %}value="{{ value }}"{% endif %}
                    {% if help is not null %}aria-describedby="{{ id ~ '_help' }}"{% endif %}
                    {{ block('invalid_attrs') }}
                    {%- with {
                        classes: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-10 p-2.5 aria-invalid:ring-rose-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-500 dark:focus:border-indigo-500',
                    } -%}
                        {{ block('widget_attributes') }}
                    {%- endwith -%}
            />
        </div>
        {%- with { attr: help_attr } -%}
            {{ block('form_help') }}
        {%- endwith -%}
        {{ block('form_errors') }}
    </div>
{%- endblock date_row -%}
