{% use '@EcoheadTailwindFormTheme/helpers.html.twig' %}

{%- block password_row -%}
    <div{%- with { attr: row_attr } -%}{{ block('attributes') }}{%- endwith -%}>
        {%- with { attr: label_attr } -%}
            {{ block('form_label') }}
        {%- endwith -%}
        <div class="mt-1 flex rounded-md shadow-sm" x-data="passwordField">
            <input
                x-ref="input"
                type="password"
                {% if value %}value="{{ value }}"{% endif %}
                {% if help is not null %}aria-describedby="{{ id ~ '_help' }}"{% endif %}
                {{ block('invalid_attrs') }}
                {%- with {
                    classes: 'block w-full rounded-none rounded-l-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 aria-invalid:ring-rose-600 aria-invalid:ring-2 disabled:cursor-not-allowed disabled:opacity-50',
                } -%}
                    {{ block('widget_attributes') }}
                {%- endwith -%}
            />
            <button
                type="button"
                @click="toggleType"
                class="relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold bg-indigo-50 ring-1 ring-inset ring-indigo-300 hover:bg-indigo-100"
            >
                <twig:icon
                    name="eye"
                    className="-ml-0.5 h-5 w-5 text-indigo-600"
                    :outline="true"
                    x-show="!visible"
                />
                <twig:icon
                        name="eye-close"
                        className="-ml-0.5 h-5 w-5 text-indigo-600"
                        :outline="true"
                        x-show="visible"
                />
            </button>
        </div>
        {%- with { attr: help_attr } -%}
            {{ block('form_help') }}
        {%- endwith -%}
        {{ block('form_errors') }}
    </div>
{%- endblock password_row -%}
